{% extends "@MarmiWild/layout.html.twig" %}

{% block body %}
    <div style="height: 300px"></div>
    <ul>
        <li><a href="{{ path('recette_new') }}">Creation recette</a></li>
        <li><a href="{{ path('ingredient_new') }}">Creation ingredient</a></li>
    </ul>


{% endblock %}


